body{
    width: 80%;
    margin: 0 auto;
    background-color: cornflowerblue;
    color: white;
}

p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}